services:
  server:
    container_name: naengjango-app
    image: gooroominuna/naengjango-app:latest
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: always