spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

management:
  endpoints:
    web:
      exposure:
        include: mappings,health

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration-ms: 1800000      # 30분
  refresh-token-expiration-ms: 1209600000  # 14일

logging:
  level:
    org.springframework.security: TRACE
    org.springframework.web: DEBUG

coolsms:
  api:
    key: {cool-sms-api-key}
    secret: {cool-sms-api-secret}
  from: {cool-sms-from-phone-number}