spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  #  h2:
  #    console:
  #      enabled: true
  #      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: none # 배포 환경에서는 none
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile

  data:
    redis:
      host: redis
      port: 6379
      timeout: 2s
      lettuce:
        shutdown-timeout: 0

management:
  endpoints:
    web:
      exposure:
        include: health,mappings

jwt:
  secret: ${JWT_SECRET}
  access-exp-seconds: 1800      # 30분
  refresh-exp-seconds: 1209600  # 14일

logging:
  level:
    org.springframework.security: INFO
    org.springframework.web: INFO

coolsms:
  api:
    key: ${COOL_SMS_API_KEY}
    secret: ${COOL_SMS_API_SECRET}
  from: ${COOL_SMS_FROM_PHONE_NUMBER}

server:
  forward-headers-strategy: native

app:
  front-url: http://localhost:5173 # 임시로 프론트 로컬 주소로 돌림. 프론트 머지 이후 배포 주소로 변경 필요