spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
  sql:
    init:
      mode: always

management:
  endpoints:
    web:
      exposure:
        include: mappings,health

jwt:
  secret: ${JWT_SECRET}
  access-exp-seconds: 1800      # 30분
  refresh-exp-seconds: 1209600  # 14일

logging:
  level:
    org.springframework.security: TRACE
    org.springframework.web: DEBUG

coolsms:
  api:
    key: ${COOL_SMS_API_KEY}
    secret: ${COOL_SMS_API_SECRET}
  from: ${COOL_SMS_FROM_PHONE_NUMBER}

app:
  front-url: http://localhost:5173