spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  data:
    redis:
      host: redis
      port: 6379

management:
  endpoints:
    web:
      exposure:
        include: health,mappings

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration-ms: 1800000
  refresh-token-expiration-ms: 1209600000

logging:
  level:
    org.springframework.security: INFO
    org.springframework.web: INFO

coolsms:
  api:
    key: ${COOL_SMS_API_KEY}
    secret: ${COOL_SMS_API_SECRET}
  from: ${COOL_SMS_FROM_PHONE_NUMBER}
