spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: redis
      port: 6379
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

management:
  endpoints:
    web:
      exposure:
        include: mappings,health

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration-ms: 1800000      # 30분
  refresh-token-expiration-ms: 1209600000  # 14일

logging:
  level:
    org.springframework.security: TRACE
    org.springframework.web: DEBUG

coolsms:
  api:
    key: ${COOL_SMS_API_KEY}
    secret: ${COOL_SMS_API_SECRET}
  from: ${COOL_SMS_FROM_PHONE_NUMBER}