spring:
  application:
    name: naengjango

  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    open-in-view: false

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "mappings,health,info"
