name: Naengjango CI/CD

on:
  push:
    branches: [ "feature/cicd" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
#    defaults:
#      run:
#        working-directory: 12th-Naengjango-BE

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          cd 12th-Naengjango-BE
          chmod +x gradlew
          ./gradlew clean build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./12th-Naengjango-BE
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/naengjango-app:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            # 1. 도커 허브 로그인
            sudo docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
            
            # 2. 최신 이미지 받아오기
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/naengjango-app:latest
            
            # 3. 기존 컨테이너 중지
            sudo docker-compose down || true
            
            # 4. 새 컨테이너 실행 (.env 파일을 자동으로 읽음)
            sudo docker-compose up -d
            
            # 5. 안 쓰는 오래된 이미지 삭제 (용량 정리)
            sudo docker image prune -f